{{#foreach posts}}
<article class="{{post_class}} post">
  <p class="post-list-date">{{date format="DD MMMM YYYY"}}</p>
  <h1><a href="{{url}}">{{{title}}}</a></h1>
  <p>{{excerpt words="26"}}</p>
  <footer class="post-footer">
    {{tags separator=" | "}}
  </footer>
</article>
{{/foreach}}
{{! Previous/next page links - displayed on every page }}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
