{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<header id="main_header" class="full"
  {{#if image}}
  style="background-image: url({{image}})"
  {{else}}
  style="background-image: url({{@blog.cover}})"
  {{/if}}>
  <div class="center page_size full clearfix">
    <div class="top_buttons  padding clearfix top_bar">
      <a href="{{@blog.url}}" class="left top-home">voylinux</a>
      <button id="menu_button" class="right">
        <i class="fa fa-bars"></i>
      </button>
    </div><!-- // end top buttons -->
    <p class="center main_title">¡Uy!</p>
  </div><!--//end centered -->
</header><!--// end main header -->

{{> "main_nav"}}

<section id="wrapper" class="center page_size padding">
  <article class="post">
    <h1 style="text-align: center;">Error 404</h1>
    <p>
      Parece que algo no ha ido como debería, pero no te preocupes, no hay nada roto.
      Puedes <a href="{{@blog.url}}">volver al inicio</a> o pulsar el botón volver de tu navegador o movil.
    </p>
    <img src={{asset "img/abrazo.jpg"}} style="width: 45%; margin: 0px auto; display: block;" alt="Abrazo muñeco" />
  </article>
